{% extends "base.html" %}
{% import "macros/utilities/pagination.html" as pagination %}
{% import "macros/utilities/posts.html" as posts %}

{%- block title -%}
  {{ section.title | safe }} - {{ config.title | safe }}
{%- endblock title -%}


{%- block head -%}
  {{ head::head(page = section) }}
{%- endblock head -%}


{%- block sidebar -%}
  {{ sidebar::sidebar(type = "page") }}
{%- endblock sidebar -%}


{%- block header -%}
  {{ header::header(page = section, type = "page") }}
{%- endblock header -%}


{%- block content -%}
  <main class="container">
    <div class="row justify-content-center mt-4 mb-4">
      <div class="col-11 col-lg-10">
        {% for page in paginator.pages %}
          {% set class_card_body = "" %}
          <article
            class="card card-bg-light mb-3 pb-3 border border-0 border-bottom rounded-0"
          >
            <div class="row g-0">
              {% if page.extra.image.visible_in_section %}
                {% set class_card_body = "col-xl-8 ps-xl-2" %}

                <header class="col-xl-4 align-self-center px-3 px-lg-4 px-xl-0">
                  <img
                    src="{{ get_url(path = page.extra.image.path) | safe }}"
                    class="img-fluid"
                    alt="{{ page.extra.image.alt | safe }}"
                  >
                </header>
              {% endif %}
              <div class="{{ class_card_body | safe }}">
                <div class="card-body">
                  <a
                    href="{{ page.permalink | safe }}"
                    class="text-decoration-none"
                  >
                    <h5 class="card-title h4">{{ page.title | safe }}</h5>
                  </a>
                  <p class="card-text text-dark">
                    {{ page.summary | safe }}
                  </p>
                  <p class="row card-text">
                    <small class="col-auto my-1 me-4 text-muted">
                      <svg style="margin-bottom:3px" class="i-clock" viewBox="0 0 32 32"
                           width="16" height="16" fill="none" stroke="currentcolor"
                           stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                          <circle cx="16" cy="16" r="14"/>
                          <path d="M16 8 L16 16 20 20"/>
                      </svg>
                      <span><strong>{{ page.reading_time }}</strong> minutes de lecture</span>
                      <span class="bi bi-calendar mx-1"></span>
                      <time datetime="{{ page.date | safe }}">
                        <span
                          class="text-muted text-decoration-none"
                        >
                            Publié le {{ page.date | date(format="%e %b %Y") | 
                                replace(from="Jan", to="Janvier") | 
                                replace(from="Feb", to="Février") | 
                                replace(from="Mar", to="Mars") | 
                                replace(from="Apr", to="Avril") | 
                                replace(from="May", to="Mai") | 
                                replace(from="Jun", to="Juin") | 
                                replace(from="Jul", to="Juillet") | 
                                replace(from="Aug", to="Août") | 
                                replace(from="Sep", to="Septembre") | 
                                replace(from="Oct", to="Octobre") | 
                                replace(from="Nov", to="Novembre") | 
                                replace(from="Dec", to="Décembre")
                            }}
                        </span>
                      </time>
                    </small>
                    <small class="col-auto my-1 text-muted">
                      {% if page.taxonomies.categories %}
                        <span class="bi bi-bookmarks"></span>
                        {{ posts::categories(categories = page.taxonomies.categories) }}
                      {% endif %}
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </main>
  <div class="mt-auto">
    {{ pagination::pagination(paginator = paginator) }}
  </div>
{%- endblock content -%}
